<ion-view title="1" id="page4">
  <ion-content padding="false" style="background: url(img/MDF7YrQ2S0SxmhXBELLX_background-38.jpg) no-repeat center;background-size:cover;" class="manual-remove-top-padding has-header">
    <div class="spacer" style="width: 320px; height: 26px;"></div>
    <div>
      <img src="img/FwYBta56TFaSe6UwgKmV_chair_with_no_background.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="15()" id="1-button7" style="font-weight:600;color:#000000;" class="button button-balanced button-block">அ). ணாற்காலி </a>
    <a ui-sref="15()" id="1-button8" style="font-weight:600;color:#151414;" class="button button-balanced button-block">ஆ). னாற்காலி </a>
    <a ui-sref="11()" id="1-button9" style="font-weight:600;color:#171717;" class="button button-balanced button-block">இ). நாற்காலி </a>
    <div class="spacer" style="width: 320px; height: 22px;"></div>
    <button id="1-button30" class="button button-positive button-clear"></button>
  </ion-content>
</ion-view>