<ion-view title="1.1" id="page45">
  <ion-content padding="false" style="background: url(img/YMXjkB2TO6Ps6DQXBej9_59053acf-5016-4743-a52f-35de6fb6ca1c.jpg) no-repeat center;background-size:cover;" scroll="false" class="has-header">
    <div class="spacer" style="width: 320px; height: 34px;"></div>
    <div>
      <img src="img/gZQBJXHT4md56iVQJ9U6_2.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/neXc5JTQeGGzatr7lxAN_Clap.gif" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="12()" id="11-button44" style="font-weight:lighter;" class="button button-calm button-large button-block button-clear icon-right ion-android-arrow-dropright-circle"></a>
  </ion-content>
</ion-view>