<ion-view title="பயிற்சி 1" id="page9">
  <ion-content padding="false" style="background: url(img/PMlo1IH5Sj26ny0M0ydh_maxresdefault.jpg) no-repeat center;background-size:cover;" class="manual-remove-top-padding has-header">
    <div>
      <img src="img/bm8ES66zTAiG0QRpfluv_.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="12-button-bar1" class="button-bar">
      <a ui-sref="1()" id="12-button10" class="button button-assertive button-block">1</a>
      <a ui-sref="2()" id="12-button11" class="button button-dark button-block">2</a>
      <a ui-sref="3()" id="12-button12" class="button button-stable button-block">3</a>
    </div>
    <div id="12-button-bar2" class="button-bar">
      <a ui-sref="4()" id="12-button13" class="button button-balanced button-block">4</a>
      <a ui-sref="5()" id="12-button14" class="button button-energized button-block">5</a>
      <a ui-sref="6()" id="12-button15" class="button button-royal button-block">6</a>
    </div>
    <div id="12-button-bar4" class="button-bar">
      <a ui-sref="7()" id="12-button19" class="button button-calm button-block">7</a>
      <a ui-sref="8()" id="12-button20" class="button button-assertive button-block">8</a>
      <a ui-sref="9()" id="12-button21" class="button button-dark button-block">9</a>
    </div>
    <div class="spacer" style="width: 320px; height: 43px;"></div>
    <div id="12-button-bar9" class="button-bar"></div>
    <div id="12-button-bar11" class="button-bar">
      <a ui-sref="page3()" id="12-button23" class="button button-dark button-clear icon-right ion-ios-skipforward"></a>
    </div>
  </ion-content>
</ion-view>