<ion-view title="1" id="page33">
  <ion-content padding="false" style="background: url(img/VrUVzR7CTC6cyDB9DzXy_S34UR1NxZimATTxaAAMOsaMfzyw53.jpeg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 320px; height: 59px;"></div>
    <div>
      <img src="img/VN2zQroQtaCjMJE9SO5Z_Slide1.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="14-form25" class="list">
      <div class="spacer" style="width: 320px; height: 46px;"></div>
      <label class="item item-input" id="14-input21">
        <span class="input-label">விடை : </span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 320px; height: 66px;"></div>
    </form>
    <a ui-sref="31()" id="14-button107" class="button button-assertive button-block button-clear icon-right ion-android-boat"></a>
  </ion-content>
</ion-view>