<ion-view title="விடை 2.2" id="page57">
  <ion-content padding="false" style="background: url(img/QnD7fxzkRwSgzpfANg45_nature_hd_wallpapers.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 94px;"></div>
    <div>
      <img src="img/EOdzoZ9wSz2EuAfH8Ki7_Slide11.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <a ui-sref="22()" id="22-button82" class="button button-light button-large button-block button-clear icon-right ion-android-exit"></a>
  </ion-content>
</ion-view>