<ion-view title="3" id="page14">
  <ion-content padding="false" style="background: url(img/6Ta86MoDQGC40WhMcBPM_d53b2b6ec94df7d6f9f3c719a1b230af--flower-iphone-wallpaper-iphone--wallpaper.jpg) no-repeat center;background-size:cover;" class="manual-remove-top-padding has-header">
    <div>
      <img src="img/dQef5flkS0qrCM9VjcH6_nail_with_no_background.jpg" style="display: block; width: 25%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 320px; height: 39px;"></div>
    <a ui-sref="35()" id="3-button52" style="font-weight:600;color:#D60027;" class="button button-stable button-block">அ). ஆனி </a>
    <a ui-sref="11()" id="3-button53" style="font-weight:600;color:#DC0004;" class="button button-stable button-block">ஆ). ஆணி </a>
    <a ui-sref="35()" id="3-button54" style="font-weight:600;color:#E30000;" class="button button-stable button-block">இ). ஆநி </a>
  </ion-content>
</ion-view>