<ion-view title="விடை 3.3" id="page65">
  <ion-content padding="false" style="background: url(img/QnD7fxzkRwSgzpfANg45_nature_hd_wallpapers.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 94px;"></div>
    <div>
      <img src="img/bd5U4dtETEa14Hxj3nld_Slide3.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <a ui-sref="34()" id="33-button99" class="button button-light button-large button-block button-clear icon-right ion-android-exit"></a>
  </ion-content>
</ion-view>