<ion-view title="4" id="page15" style="background-color:#F20037;">
  <ion-content padding="false" style="background: url(img/pkULWpwcRqGmeluE95Aq_8af44954-4b46-49ef-95e6-9a297b92a77f.jpg) no-repeat center;background-size:cover;" class="manual-remove-top-padding has-header">
    <div class="spacer" style="width: 300px; height: 1px;"></div>
    <div>
      <img src="img/HOCAJhRHQYuWwGQoxCZD_.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 320px; height: 40px;"></div>
    <a ui-sref="44()" id="4-button60" style="font-weight:600;color:#0D0C0C;" class="button button-assertive button-block">அ) அநில் </a>
    <a ui-sref="44()" id="4-button61" style="font-weight:600;color:#0B0B0B;" class="button button-assertive button-block">ஆ) அனில் </a>
    <a ui-sref="11()" id="4-button62" style="font-weight:600;color:#010101;" class="button button-assertive button-block">இ) அணில்</a>
  </ion-content>
</ion-view>