<ion-view title="4" id="page26">
  <ion-content padding="true" style="background: url(img/BU8GkjsR3eerHanJwMwl_E0AE87E0AEAFE0AEB1E0AF8DE0AE95E0AF88.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 41px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/KqCb4pvTqhlBpe61nZ6Q_Slide5.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 44px;"></div>
    <form id="42-form17" class="list">
      <label class="item item-input" id="42-input13">
        <span class="input-label">விடை : </span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 83px;"></div>
    </form>
    <a ui-sref="24()" id="42-button85" class="button button-assertive button-large button-block button-clear icon-right ion-alert-circled"></a>
  </ion-content>
</ion-view>