<ion-view title="4" id="page36">
  <ion-content padding="false" style="background: url(img/NYbP0fcTL2wxnflLKqnY_8af44954-4b46-49ef-95e6-9a297b92a77f.jpg) no-repeat center;background-size:cover;" scroll="false" class="has-header">
    <div class="spacer" style="width: 320px; height: 68px;"></div>
    <div>
      <img src="img/NHXPB0Sxy6J9KR0cnFhg_Slide3.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 320px; height: 43px;"></div>
    <form id="43-form28" class="list">
      <label class="item item-input" id="43-input24">
        <span class="input-label">விடை :</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <div class="spacer" style="width: 320px; height: 39px;"></div>
    <a ui-sref="34()" id="43-button110" class="button button-assertive button-large button-block button-clear icon-right ion-android-boat"></a>
  </ion-content>
</ion-view>