<ion-view title="5" id="page27">
  <ion-content padding="true" style="background: url(img/NWvZOSF6TXaDjKFxCVgW_E0AE87E0AEAFE0AEB1E0AF8DE0AE95E0AF88.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 43px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/2zDPa6zPTJGpLQximy8t_Slide6.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 46px;"></div>
    <form id="52-form18" class="list">
      <label class="item item-input" id="52-input14">
        <span class="input-label">விடை : </span>
        <input type="text" placeholder="">
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 64px;"></div>
    <a ui-sref="25()" id="52-button88" class="button button-light button-large button-block button-clear icon-right ion-alert-circled"></a>
  </ion-content>
</ion-view>