<ion-view title="5" id="page37">
  <ion-content padding="false" style="background: url(img/IGwcYDfQ2eBe75w7da7X_27a295dd-26b5-4365-ba2d-b46d8e125741.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 320px; height: 57px;"></div>
    <div>
      <img src="img/Qe2FYfSNR6GBOmRMgaoN_Slide9.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 320px; height: 34px;"></div>
    <form id="53-form29" class="list">
      <label class="item item-input" id="53-input25">
        <span class="input-label">விடை : </span>
        <input type="text" placeholder="">
      </label>
    </form>
    <div class="spacer" style="width: 320px; height: 51px;"></div>
    <a ui-sref="35()" id="53-button111" class="button button-assertive button-large button-block button-clear icon-right ion-android-boat"></a>
  </ion-content>
</ion-view>