<ion-view title="பிழை 5" id="page51">
  <ion-content padding="false" style="background: url(img/y3GczgDsTbKMc1t02VnK_green-leaves-powerpoint-background.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div>
      <img src="img/MlCNJmyRqaHNtZYmkbwD_3.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/vXuteDPQwyf4gylk9VU2_sad-face.gif" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="5()" id="54-button57" class="button button-dark button-large button-block button-clear icon ion-arrow-left-a"></a>
  </ion-content>
</ion-view>