<ion-view title="6" id="page17">
  <ion-content padding="true" style="background: url(img/6eU1DAXdR6Cdlk2bj7VZ_05255d72d25ca324e0cc939460b36504--backgrounds-wallpapers-abstract-backgrounds.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/6Ke1KOCmSIGHUIMgEVaA_.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="64()" id="6-button65" style="font-weight:600;color:#F4097B;" class="button button-light button-block">அ) பண்து </a>
    <a ui-sref="11()" id="6-button67" style="font-weight:600;color:#F90138;" class="button button-light button-block">ஆ) பந்து </a>
    <a ui-sref="64()" id="6-button66" style="font-weight:600;color:#F1042E;" class="button button-light button-block">இ) பண்து </a>
  </ion-content>
</ion-view>