<ion-view title="6" id="page28">
  <ion-content padding="true" style="background: url(img/LLCAaDqkSGCZ4JLyv86y_05255d72d25ca324e0cc939460b36504--backgrounds-wallpapers-abstract-backgrounds.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 38px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/dO3DGke8QNmUEiFRk7Kp_Slide7.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 45px;"></div>
    <form id="62-form19" class="list">
      <label class="item item-input" id="62-input15">
        <span class="input-label">விடை :</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 57px;"></div>
    <a ui-sref="26()" id="62-button91" class="button button-light button-large button-block button-clear icon-right ion-alert-circled"></a>
  </ion-content>
</ion-view>