<ion-view title="6" id="page38">
  <ion-content padding="false" style="background: url(img/Cw0QoXpeRWynrJDCAqKE_7e3c8d58-a88d-4331-9478-bae92bdb9112.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 320px; height: 66px;"></div>
    <div>
      <img src="img/GeAbYV5QQK6rGTxMUnWV_1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 320px; height: 51px;"></div>
    <form id="63-form30" class="list">
      <label class="item item-input" id="63-input26">
        <span class="input-label">விடை :</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <div class="spacer" style="width: 320px; height: 29px;"></div>
    <a ui-sref="36()" id="63-button112" class="button button-assertive button-large button-block button-clear icon-right ion-android-boat"></a>
  </ion-content>
</ion-view>