<ion-view title="7" id="page18">
  <ion-content padding="false" style="background: url(img/cRzxL10FTamXr6sbw0FR_d53b2b6ec94df7d6f9f3c719a1b230af--flower-iphone-wallpaper-iphone--wallpaper.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 29px;"></div>
    <div>
      <img src="img/RnlvcW21R0SBDuxfqivl_.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <a ui-sref="11()" id="7-button68" style="font-weight:600;color:#0A0100;" class="button button-balanced button-block">அ) மன்னன் </a>
    <a ui-sref="74()" id="7-button69" style="font-weight:600;color:#030000;" class="button button-balanced button-block">ஆ) மண்ணன் </a>
    <a ui-sref="74()" id="7-button70" style="font-weight:600;color:#030000;" class="button button-balanced button-block">இ) மன்னண் </a>
  </ion-content>
</ion-view>