<ion-view title="7" id="page39">
  <ion-content padding="false" style="background: url(img/4zXBAObWTLmRbQUJvqnC_80bd5097-53e3-4ff7-b24b-5ff04520daa3.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 320px; height: 73px;"></div>
    <div>
      <img src="img/9Bo2bLnqTEyz4Tqp98o4_Slide4.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 320px; height: 42px;"></div>
    <form id="73-form31" class="list">
      <label class="item item-input" id="73-input27">
        <span class="input-label">விடை : </span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>