<ion-view title="8" id="page19">
  <ion-content padding="false" style="background: url(img/oBtRXLiTjW3rrXhemLsw_iUx9EI.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/dUtWBpj6Qw2Qk5xf7sVh_.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 33px;"></div>
    <a ui-sref="84()" id="8-button74" style="font-weight:600;color:#3704E0;" class="button button-energized button-block">அ). னாய்</a>
    <a ui-sref="84()" id="8-button73" style="font-weight:600;color:#2107BF;" class="button button-energized button-block">ஆ). ணாய் </a>
    <a ui-sref="11()" id="8-button75" style="font-weight:600;color:#0B19A4;" class="button button-energized button-block">இ). நாய் </a>
  </ion-content>
</ion-view>