<ion-view title="8" id="page40">
  <ion-content padding="false" style="background: url(img/OazDDIvQ0WEU0z0HRkiA_5a59fee6-5314-4d57-a22b-eac4aa978eba.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 320px; height: 64px;"></div>
    <div>
      <img src="img/TrW3zR0qQHu532Y4hSPs_Slide6.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 320px; height: 47px;"></div>
    <form id="83-form32" class="list">
      <label class="item item-input" id="83-input28">
        <span class="input-label">விடை : </span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>