<ion-view title="9" id="page20">
  <ion-content padding="true" style="background: url(img/HJQyVeVxTySA5HjE536W_powerpoint-background-11-Cool-Pictures.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <div>
      <img src="img/PMRaiwnMQ9q8IX7DhxCJ_.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 35px;"></div>
    <a ui-sref="94()" id="9-button76" class="button button-positive button-block">அ) பூணை</a>
    <a ui-sref="11()" id="9-button77" class="button button-positive button-block">ஆ) பூனை </a>
    <a ui-sref="94()" id="9-button78" class="button button-positive button-block">இ) பூநை </a>
  </ion-content>
</ion-view>