<ion-view title="9" id="page31">
  <ion-content padding="true" style="background: url(img/eUiVcN5HSRiJaelfl6Db_circles-colorful-design-powerpoint.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 38px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/dvOqrZsGTxytJ4Q9v7bX_Slide10.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <form id="92-form22" class="list">
      <label class="item item-input" id="92-input18">
        <span class="input-label">விடை : </span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="height: 100px;"></div>
    </form>
    <a ui-sref="29()" id="92-button96" class="button button-dark button-block button-clear icon-right ion-alert-circled"></a>
  </ion-content>
</ion-view>