<ion-view title="ஒலிப்பு முறை " id="page11">
  <ion-content padding="false" style="background: url(img/QinYGjAPQ2eoC3EADPCl_042e750cbc58c97de7c0a07512475e5d.jpg) no-repeat center;background-size:cover;" class="manual-remove-top-padding has-header">
    <h3 id="page11-heading1" style="color:#000000;font-weight:600;text-align:center;">ந, ண, ன எழுத்துக்களின் சரியான ஒலிப்பு முறை</h3>
    <div>
      <img src="img/NzIdIGd1QWG2RdbDHKN6_0.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 320px; height: 20px;"></div>
    <div>
      <img src="img/Q1XqyhWsQM2lEIfHBLFW_Presentation1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>