<ion-view title="" id="page8" style="background-color:#EE004D;">
  <ion-content padding="false" style="background: url(img/uorGzvkbRG2z6e40H6Rm_d53b2b6ec94df7d6f9f3c719a1b230af--flower-iphone-wallpaper-iphone--wallpaper.jpg) no-repeat center;background-size:cover;" class="manual-remove-top-padding has-header">
    <div class="spacer" style="width: 320px; height: 42px;"></div>
    <div>
      <img src="img/L7qNWajQBSlkG6tAUvxW_13_4_Vaanga_Pazhagalam_va11.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page1()" id="page8-button6" style="font-weight:600;color:#040404;" class="button button-energized button-large button-block button-outline">தமிழ் சொற்களைப் பழகி கொள்..!</a>
    <div id="page8-markdown3" class="show-list-numbers-and-dots"></div>
    <div>
      <img src="img/m262wkqNSpqvfphxihYr__dca3adc5-0654-4157-a271-74dc637ee854-3615217c-901c-4c1e-a011-3caf9575e018_cmprsd_40.jpg" style="display: block; width: 50%; height: auto; margin-left: auto;">
    </div>
    <div>
      <img src="img/m262wkqNSpqvfphxihYr__dca3adc5-0654-4157-a271-74dc637ee854-3615217c-901c-4c1e-a011-3caf9575e018_cmprsd_40.jpg" style="display:block;width:50%;height:auto;">
    </div>
  </ion-content>
</ion-view>