<ion-view title="பயிற்சிகள் " id="page3">
  <ion-content padding="true" style="background: url(img/Fo0ifFeR1uIKTz6pXMAk_042e750cbc58c97de7c0a07512475e5d.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 39px;"></div>
    <a ui-sref="12()" id="page3-button2" style="font-weight:lighter;color:#BC0033;" class="button button-energized button-block">படத்தைப் பார்த்து கண்டுபிடி!</a>
    <a ui-sref="22()" id="page3-button3" style="font-weight:lighter;color:#0D0B0C;" class="button button-royal button-block">சீர்ப்படுத்தி எழுதுக !</a>
    <a ui-sref="34()" id="page3-button4" class="button button-positive button-block">திருத்தி எழுதுக !</a>
    <div>
      <img src="img/K1k2qOgS1aTmEopNKEwz_bfc95517952d2719d6887175fa7aeb34.gif" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>