<ion-view title="விடைகள்" id="page43">
  <ion-content padding="true" class="has-header">
    <ion-list id="page43-list9">
      <ion-item class="positive" id="page43-list-item20">1 : கோணிமானி </ion-item>
      <ion-item class="balanced" id="page43-list-item21">2 : நன்கொடை </ion-item>
      <ion-item class="assertive" id="page43-list-item31">3 : ஆந்தை </ion-item>
    </ion-list>
    <ion-list id="page43-list10">
      <ion-item class="positive" id="page43-list-item32">4 : வேளாண்மை </ion-item>
      <ion-item class="balanced" id="page43-list-item33">5 : பென்சில் </ion-item>
      <ion-item class="positive" id="page43-list-item34">6 : தண்டுவடம் </ion-item>
    </ion-list>
    <ion-list id="page43-list11">
      <ion-item class="balanced" id="page43-list-item35">7 : கொதிகலன் </ion-item>
      <ion-item class="positive" id="page43-list-item36">8 : பணம் </ion-item>
      <ion-item class="assertive" id="page43-list-item37"> 9 : தந்தம் </ion-item>
    </ion-list>
  </ion-content>
</ion-view>