<ion-view title="நன்றி " id="page44">
  <ion-content padding="true" style="background: url(img/N4K49bLwT4qgED5bRjaa_0613a5b7-31e8-45b2-a0dc-eb71a9d512af.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 58px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/EgNLrJZHTsj2s5rd7MAu_imageproxy.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page1()" id="page44-button106" class="button button-positive button-large button-block button-clear icon-right ion-ios-fastforward"></a>
  </ion-content>
</ion-view>