<ion-view title="" id="page10">
  <ion-content padding="true" style="background: url(img/AJvDEoASoy73w2cghHhE_E0AEA4E0AEAEE0AEBFE0AEB4E0AF8DE0AEAEE0AF8AE0AEB4E0AEBF_4b6294fd-958a-4f40-ae47-8da030688dfc-754de7e3-0e37-4f16-ac18-258e4f46864b_cmprsd_40.jpg) no-repeat center;background-size:cover;"
    class="has-header">
    <a ui-sref="page12()" id="page10-button34" style="font-weight:600;" class="button button-assertive button-block">அறிமுகம்</a>
    <a ui-sref="page11()" id="page10-button35" style="font-weight:600;" class="button button-dark button-block">ஒலிப்பு முறை</a>
    <a ui-sref="page3()" id="page10-button37" style="font-weight:600;" class="button button-royal button-block">பயிற்சிகள் </a>
    <div>
      <img src="img/Xde3LMmUQqGtSMSjvrhJ_giphy.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page13()" id="page10-button38" style="font-weight:600;" class="button button-stable button-block">என்னைப் பற்றி !</a>
  </ion-content>
</ion-view>