<ion-view title="என்னைப் பற்றி !" id="page13">
  <ion-content padding="true" style="background: url(img/GGczC1cRSU4Y5yN6eKbQ_green-leaves-powerpoint-background.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/7J7rtPToWnEERU2fRFKA_IMG20171021181716.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="page13-list1">
      <ion-item id="page13-list-item4">பெயர் : தமிழ்ச்செல்வி முருகன் </ion-item>
      <ion-item id="page13-list-item5">தொழில் : பயிற்சி ஆசிரியர்</ion-item>
    </ion-list>
  </ion-content>
</ion-view>