<ion-view title="சொல் பழகு " id="page1">
  <ion-content padding="true" style="background: url(img/WJOByEwVTOGN33dNwy0a_maxresdefault.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 90px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/3IFJHm9GSY6ON13pn8WU_.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 46px;"></div>
    <a ui-sref="page10()" id="page1-button1" style="font-weight:300;font-style:italic;color:#170606;" class="button button-royal">தமிழா..! தமிழோடு விளையாடு..!</a>
  </ion-content>
</ion-view>